/*geral*/
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* tamanho do container central*/
.principal {
   width: 100%;
   height: 100%;
   
  
}

/*cabeçalho*/
.principal header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: rgb(38, 170, 82);
    height: 80px;
    width: 100%;
    padding-left: 20px;
    color: white;   
    
}


/*links do cabeçalho*/

.principal header .links{
    margin-right: 40px;
}
.principal header .links a {
    margin-right: 30px;
    font-size: 24px;
    color: rgb(5, 42, 73);
    transition: .2s;
}

.principal header .links a:hover{
    color: turquoise;
    text-decoration: underline;
    
}

.sub-header, .sob-footer{
    height: 40px;
    background-color: rgb(37, 11, 187);
    width: 100%;
    color: white;
    padding-left: 20px;
    
}




/*rodapé*/
.principal footer{
    background-color: rgb(38, 170, 82);
    text-align: center;
    height: 80px;
    width: 100%;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    
}
 /*texto do rodapé*/
.principal footer p{
    margin-top: 0;
    padding-top: 25px;
}

/*corpo do login*/
.login{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    
    margin: 130px auto ;
    /*padding: 10px;*/
 
}

.login-caixa {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    width: 400px;
    height: 300px;
    background-color:#f0f0f5;
    
}


/*inputs e button do login*/
.login input, .login button{
    margin-right: 10px;
    margin-top: 15px;
    width: 200px;
}

.login button{
    margin-bottom: 10px;
}

/*link para o cadastro*/
.link-home{
    padding-right: 30px;
}